<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="form" type="keel.validation.controller.AddUserController.Form"*/-->
<form th:action="@{/}" method="post" th:object="${form}">
  <div th:if="${successMessage}" th:text="${successMessage}" style="color: blue"></div>
  <div>
    名前:<input type="text" name="name" th:field="*{name}">
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red"></div>
  </div>
  <div>
    年齢:<input type="text" name="age" th:field="*{age}">
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" style="color: red"></div>
  </div>
  <div>
    メールアドレス(登録済みの場合はエラーになります):<input type="text" name="mailAddress" th:field="*{mailAddress}">
    <div th:if="${#fields.hasErrors('mailAddress')}" th:errors="*{mailAddress}" style="color: red"></div>
  </div>
  <div>
    ロール(admin以外はデータベースに存在しないためエラーになります):<input type="text" name="role" th:field="*{role}">
    <div th:if="${#fields.hasErrors('role')}" th:errors="*{role}" style="color: red"></div>
  </div>
  <button type="submit">登録</button>
</form>
</body>
</html>