<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ログインページ</title>
</head>
<body>
<form method="post" th:action="@{/login}">
  <div>
    <label for="username">ユーザ名</label>
    <input type="text" name="username" id="username"/>
  </div>
  <div>
    <label for="password">パスワード</label>
    <input type="password" name="password" id="password" autocomplete="off"/>
  </div>
  <button type="submit">ログイン</button>

  <div th:if="${param.error}" style="color: red">
    ログインできませんでした。
  </div>
  <div th:if="${param.logout}" style="color: blue">
    ログアウトしました。
  </div>
</form>
</body>
</html>
